@charset "utf-8";
/***************版块样式***************/
.green{color:#1b8d01;}

.searchbg{position:relative;background:url(../images/bg02.jpg) no-repeat center bottom #f4f4f4;min-height:740px;}
.searchbg_top{position:absolute;left:0;top:0;background:url(../images/bg01.jpg) no-repeat center top;height:200px;}
.search_main{position:relative;margin:0 auto;width:1200px;height:100%;z-index:10;}

.main_l{width:540px;text-align:center;}
.main_l:before{content:"";display:inline-block;border-left:1px solid #d0a74f;border-right:1px solid #d0a74f;width:300px;height:90px;}
.main_l_search{position:relative;margin-top:-10px;background:#f8f7f2;color:#333;border:1px solid #d0a74f;border-radius:20px;width:538px;height:250px;text-align:center;}
.main_l_search b{margin:40px 0;display:block;font-size:48px;line-height:1;}
.main_l_search input{float:left;}
.main_l_search input[type="text"]{margin-left:49px;border:0;background:#4bb92b;color:#fff;width:440px;height:60px;line-height:60px;font-size:18px;border-radius:60px;text-indent:30px;}
.main_l_search input::-webkit-input-placeholder{color:rgba(255,255,255,.5);}
.main_l_search input:-moz-input-placeholder{color:rgba(255,255,255,.5);}
.main_l_search input::-moz-input-placeholder{color:rgba(255,255,255,.5);}
.main_l_search input:-ms-input-placeholder{color:rgba(255,255,255,.5);}
.main_l_search input[type="button"]{position:absolute;right:50px;top:129px;border:0;background:rgba(255,255,255,.9);color:#4bb92b;width:100px;height:58px;line-height:58px;font-size:18px;border-radius:58px;}
.main_l_search input[type="button"]:hover{background:rgba(255,255,255,.8);}

.main_show{margin:84px 0 0 100px;height:600px;}

.show{position:relative;padding-bottom:50px;}
.code{position:absolute;right:10px;top:100px;width:140px;}
.show_top{padding:30px 0;background:#36992d;color:rgba(255,255,255,.8);font-size:18px;text-align:center;}

.show_con{margin:0 auto;width:1000px;font-size:18px;color:#666;}
.show_con h3{margin:50px 0 30px 0;}
.show_con h3 b{padding:10px 40px;display:inline-block;color:#36992d;border:1px solid;font-size:30px;line-height:1;border-radius:8px;}
.show_con p{padding:10px 0;}
.show_con .indent{text-indent:2em;text-align:justify;}
