@charset "utf-8";

.hides{display:none;}
.bg_f9f9f9{background:#f9f9f9;}
.bg_e9e9e9{background:#e9e9e9;}
.bg_dcdcdc{background:#dcdcdc;}

.nav{background:#fff;}
.nav dl{float:left;width:100%;border-bottom:1px solid #eee;text-align:center;}
.nav dt{float:left;width:calc(50% - 1px);border-right:1px solid #eee;}
.nav dd{float:right;width:50%;}
.nav a{float:left;width:100%;padding:20px 0;}
.nav i{display:inline-block;position:relative;font-size:48px;line-height:48px;}
.nav em{position:absolute;right:-10px;top:-10px;width:24px;height:24px;line-height:24px;background:#e60a0a;color:#fff;font-size:12px;border-radius:100%;border:2px solid #fff;}
.nav b{display:block;}
	.c_shilian{color:#1b9bda;}
	.c_xueye{color:#f76067;}
	.c_chuqin{color:#13b901;}
	.c_xinli{color:#9c57c4;}
	.c_wangyin{color:#d1b874;}
	.c_wangui{color:#26b3e0;}

.head{height:46px;line-height:46px;background:#f9f9f9;}
.head h1{text-align:center;font-size:18px;color:#666;}
	.icon_back,.icon_more{position:absolute;top:3px;color:#666;}
	.icon_back{left:10px;}
	.icon_more{right:10px;}
	
/*底部*/
.end{padding:10px 0;text-align:center;font-size:12px;color:#aeaeae;}

.list_warning dl,.list_class dl{float:left;width:100%;border-bottom:1px solid #eee;}
.list_warning dt{float:left;padding:20px 10px;}
.list_warning dd{float:right;padding:20px 0;}
.list_warning dd span{width:40px;}
.list_warning dd span,.list_warning dd em{float:left;margin-right:5px;}
.list_warning dd em,.list_class dt em{margin-top:2px;width:14px;height:14px;border:1px solid #999;border-radius:100%;}
	.bg_ff0030{background:#ff0030;}
	.bg_f7a039{background:#f7a039;}
	.bg_fdfd05{background:#fdfd05;}
	
.list_xueye h2{float:left;padding:10px;font-size:14px;width:calc(100% - 20px);background:#eee;color:#999;}
.list_xueye dl{float:left;padding:15px 0;width:100%;border-bottom:1px solid #eee;}
.list_xueye dl.line_red{border-left:5px solid #f00;width:calc(100% - 5px);}
.list_xueye dl.line_orange{border-left:5px solid #ff5723;width:calc(100% - 5px);}
.list_xueye dl.line_yellow{border-left:5px solid #fead20;width:calc(100% - 5px);}
.list_xueye dl a{float:left;width:100%;}
.list_xueye dt{float:left;margin-left:10px;color:#999;font-size:12px;}
.list_xueye dt b{display:block;padding-bottom:5px;color:#666;font-size:16px;}
.list_xueye dd{float:right;margin-right:10px;}
.list_xueye dd i{float:left;padding:12px 0 0 10px;font-size:24px;line-height:24px;color:#ccc;}
.list_xueye .online{height:10px;background:#eee;overflow:hidden;}


.list_class dt{float:left;margin-top:30px;width:40%;color:#666;}
.list_class dt em{float:left;margin:2.2px 10px 0 10px;}
.list_class dt span{float:left;}
.list_class dd{float:left;padding:10px 0;width:30%;color:#787878;}
.list_class dd p:first-child{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dotted #eee;color:#06c;}

.list_student li{float:left;width:100%;border-bottom:10px solid #e5e5e5;}
.list_student a{float:left;padding:10px 0;width:100%;}
.list_student b{float:left;margin:10px 0 0 10px;width:160px;}
.list_student p{float:left;}
.list_student i{float:right;margin:10px 10px 0 0;font-size:24px;line-height:24px;color:#aeaeae;}
	.list_student_info{border-top:1px solid #eee;color:#888;background:#fafafa;}
	.list_student_info ul{float:left;width:100%}
	.list_student_info li{border-bottom:none;padding:5px 3%;width:94%}

.foot_fill{height:72px;}
.foot_nav{position:fixed;bottom:0;border-top:1px solid #dcdcdc;background:#fff;}
.foot_nav li{float:left;width:calc(100% / 3);}
.foot_nav a{float:left;padding:10px 0;width:100%;text-align:center;color:#fc3c2d;}
.foot_nav i{font-size:30px;line-height:30px;}
.foot_nav b{display:block;}

.show{float:left;padding:10px;text-align:justify;color:#787878;}
.show p{padding:5px 0;}

.list_handle{position:relative;}
.list_handle ul{position:absolute;left:0;top:0;}
.list_handle h2 em{float:left;margin-left:10px;color:#ec3426;font-size:48px;line-height:48px;}
.list_handle h2 b{float:left;margin:15px 0 0 -2px;padding:3px 20px;background:#fc3c2d;color:#fff;font-size:12px;border-radius:16px;}
.list_handle li{float:left;margin-bottom:10px;width:calc(100% - 60px);margin-left:30px;padding:10px;background:#fafafa;border-bottom:1px solid #ccc;}
.list_handle li b{font-size:16px;color:#06c;}
.list_handle li p{padding-top:10px;color:#888;}

.handle_line{float:left;margin-left:20px;height:calc(100% + 60px);border-left:2px solid #fafafa;}

.handle_add{position:fixed;bottom:20px;right:20px;}
.handle_add a{display:inline-block;width:48px;height:48px;line-height:48px;font-size:24px;text-align:center;background:#f90;color:#fff;border-radius:100%;}
.handle_add a:hover{background:#f80;}

.handle_info li{float:left;padding:10px;width:calc(100% - 20px);background:#fff;border-top:10px solid #dcdcdc;}
.handle_info li:last-child{background:none;}
.handle_info li b{margin-top:6px;}
.handle_info .btn{border:none;background:#fc3c2d;color:#fff;width:100%;height:40px;border-radius:4px;font-size:18px;}
	.input_txt_info{padding:0 5px;border:none;background:none;height:36px;line-height:36px;color:#666;text-align:right;}

/*弹出选择框版块*/
.popup_input_box,.popup_con li,.popup_con li label{float:left;width:100%;}
.popup_input_box{display:none;background:#fff;border-top:1px solid #dcdcdc;}
.popup_con li{padding:10px 0;border-bottom:1px solid #dcdcdc;}
.popup_con li input{display:none;}
.popup_con li label{text-align:center;}

